In [1]:
#Bibliotecas 

import pandas as pd
import plotly.express as px

In [2]:
#Base de dados

dataBase = []

for i in range(1, 13):
    cpas = pd.read_csv(f'/home/brunoalvoliver/Documentos/Programação/dash-bolsa/CPAs/CPA{i}.csv', sep=';', encoding='ISO-8859-1', decimal=',')
    dataBase.append(cpas)

In [3]:
#Definindo a base

cpa1 = dataBase[0]
cpa1

,Crateús,Russas,Quixadá,Sobral,CC,CCA,CH,CT,FFOEF,FD,FACED,FEAAC,FAMED,LABOMAR,ICA,IEFES,UFCV,UFC
0,95.97,95.79,93.54,97.24,94.11,95.69,95.42,93.33,97.72,91.82,96.96,94.64,98.09,94.67,94.81,96.06,94.22,95.20
1,96.60,96.62,95.98,97.47,93.84,95.69,95.33,93.70,97.82,93.61,95.82,95.54,97.60,95.46,94.64,96.45,93.57,95.52
2,92.57,90.06,89.44,95.74,89.87,93.51,92.56,89.83,95.25,89.39,95.58,91.90,95.38,90.92,93.58,95.01,87.41,92.29
3,90.88,90.10,88.99,96.12,90.33,93.02,93.25,90.48,96.38,92.66,96.15,92.53,95.93,91.52,93.52,95.92,90.29,92.78
4,86.79,84.48,84.67,93.32,88.26,89.27,88.69,88.32,94.13,89.83,91.06,89.19,92.67,88.76,91.04,91.11,79.92,89.42
5,90.06,87.79,89.52,94.17,89.60,90.77,90.75,87.27,94.60,88.69,90.90,89.16,93.47,86.98,90.48,93.56,82.42,90.36

In [ ]:
#Visualização

box = box